name: Build
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency: 
  group: publish-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  docker-publish:
    name: Build Image
    runs-on: ubuntu-latest
    timeout-minutes: 30
    outputs:
      digest: ${{ steps.push.outputs.digest }}
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: docker build -t blender-headless .
